.forms_dashboard {
  min-height: 208px;
}

.table-responsive {
  min-height: 50px;
  max-height: 240px;
}

.table2 {
  position: sticky;
  bottom: 0;
  border-top: 2px solid #86ac88;
}

table {
  tbody {
    tr {
      td {
        background-color: white !important;
        text-align: center;
      }
    }
  }

  input[type="text"] {
    all: unset;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 16px !important;
    height: 16px !important;
    border: 1px solid #b8b8c7;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    margin-left: 8px;

    &:checked {
      background-color: #4c6d5f !important;
      // border: 1px solid $main_color !important;
      &::after {
        content: "✓";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;

        // background-color: $white-color;
        // color: white;
      }
    }
  }
}

.summary-row {
  position: sticky;
  bottom: 0;
  background: #fff;
  z-index: 10;
  box-shadow: 0 -2px 0 #86ac88;
}
.summary-row td {
  background: #fff;
}
