<app-page-heading [title]="'المحاسبه'" [subtitle]="'سند الصرف'" [AddBtn]="true" [ExplorerRoute]="'/dashboard/realtorpaymentvoucher/explorerrealtorpaymentvoucher'" [TitlePageAddBtn]="'مستكشف سند الصرف'"></app-page-heading>


<form action="" class="forms_dashboard" [formGroup]="realtorPaymentVoucherForm" >
           <div class="row ">
<div class=" col-sm-12  col-lg-3 ">
                 <label for="vouchernumber" class="form-label">رقم السند</label>
                 <input type="text" class="form-control"  id="vouchernumber" #VoucherNumber placeholder="رقم السند"  readonly placeholder="0">
              
                
        </div>
  <div class="col-sm-12 col-lg-3 mb-3 search_contract" style="margin-top:8px ;">
        <label  class="form-label" ></label>
        <div class="search_number_component">
<input type="text" name="" placeholder="بحث برقم السند"  #valSearchById (keydown.enter)="searchGetById(valSearchById)"  class="form-control">

<div class="search" (click)="searchGetById(valSearchById)">
    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.7501 17.4998C6.37783 17.4998 2.83342 13.9554 2.83342 9.58317C2.83342 5.21092 6.37783 1.6665 10.7501 1.6665C15.1223 1.6665 18.6667 5.21092 18.6667 9.58317C18.6667 13.9554 15.1223 17.4998 10.7501 17.4998Z" stroke="#7F7F7F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.00008 18.3332L3.66675 16.6665" stroke="#7F7F7F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</div>
        </div>
        
    </div>

    <div class="col-sm-12 col-lg-3">
        <div class="mb-3">
            <label for="numbernotes" class="form-label">رقم الدفتري</label>
            <input type="text" class="form-control" id="numbernotes" placeholder="رقم الدفتري" formControlName="voucherNo" style="background-color: #F5F5F5 !important;">
               <app-formerror-msg [control]="this.realtorPaymentVoucherForm.controls['voucherNo']" [Messages]="{
                  'required':'الرقم الدفتري مطلوب',
                  'minlength':'الرقم الدفتري يجب ان يكون اكثر من 3 حروف'
               }"></app-formerror-msg>
          </div>
    </div>

    <div class="col-sm-12 col-lg-3">
        <div class="mb-3">
            <label for="date" class="form-label">التاريخ</label>
            <input type="date" class="form-control" id="date" placeholder="التاريخ" formControlName="voucherDate">
               <app-formerror-msg [control]="this.realtorPaymentVoucherForm.controls['voucherDate']" [Messages]="{
                  required:'التاريخ مطلوب'
               }"></app-formerror-msg>
          </div>
    </div>
    <div class="col-sm-12">
        <div class="mb-3">
            <label for="box" class="form-label">صندوق / بنك</label>
            <ng-select [items]="accountData" bindLabel="name" bindValue="financiallyAccountId"  placeholder="صندوق / بنك" formControlName="creditAccountId"></ng-select>
               <app-formerror-msg [control]="this.realtorPaymentVoucherForm.controls['creditAccountId']" [Messages]="{
                  required:'صندوق / بنك مطلوب'
               }"></app-formerror-msg>

          </div>
    </div>
    <div class="col-sm-12">
        <div class="mb-3">
            <label for="byan" class="form-label">البيان</label>
            <textarea class="form-control" id="byan" rows="3" placeholder="اكتب المحتوي" style="height: 75px !important;" formControlName="notes"></textarea>
           
          </div> 
    </div>
          </div>
</form>



<form action="" class="forms_dashboard mt-4" [formGroup]="formDataSearch" style="    min-height: 46px;
    max-height: 455px;">
    <div class="row">
        <div class="col-sm-12 mb-3">
            <app-searchinforms (selectedDataFilter)="SearchFilter($event)" [dataFilter]="FilterData"></app-searchinforms>
        </div>

        <div class="col-sm-12 col-lg-6 readonly_input mb-3">
            <label for="" class="form-label">الاسم</label>
            <input type="text" class="form-control"   readonly  style="padding-right: 50px;" formControlName="name">
        </div>
        <div class="col-sm-12 col-lg-6 readonly_input mb-3">
            <label for="" class="form-label">رقم الجوال</label>
            <input type="text" class="form-control"   readonly  style="padding-right: 80px;" formControlName="mobile">
        </div>
        <div class="col-sm-12 col-lg-6 readonly_input mb-3">
            <label for="" class="form-label">البريد الالكتروني</label>
            <input type="text" class="form-control"  readonly formControlName="email" style="padding-right: 105px;">
        </div>
        <div class="col-sm-12 col-lg-6 readonly_input mb-3">
            <label for="" class="form-label">رقم الهويه </label>
            <input type="text" class="form-control"   readonly  formControlName="nationalID" style="padding-right: 80px;">
        </div>
    </div>




 <div class="table-responsive">
<table>
  <thead>
    <tr>
      <th scope="col">

        <div class="d-flex align-items-center justify-content-center">
        <input type="checkbox" *ngIf="this.getAllDataSearch?.rows.length> 0" (change)="selectAllChecked($event)" #checkAll aria-label="Checkbox for following text input" style="width: 16px; height: 16px; margin-left: 8px;">
        م     
        </div>
        
      </th>
      <th scope="col">رقم العقد</th>
      <th scope="col">العقار</th>
      <th scope="col">الوحده</th>
      
      <th scope="col">المبلغ</th>
      <th scope="col">المدفوع</th>
      
      <th scope="col">المتبقي</th>
    </tr>
  </thead>
   <tbody>
    @for (item of getAllDataSearch?.rows; track $index) {
<tr>
      <td scope="row">
        <div class="d-flex align-items-center justify-content-center">
<input type="checkbox" aria-label="Checkbox for following text input" #rowCheckbox [checked]="item.isInThisVoucher" (change)="checkDataId($event,item)">
        {{$index + 1}}
        </div>
         
    </td>
      <td>{{item.contractId}}</td>
      <td>{{item.propertyName}}</td>
      <td>{{item.unitName}} </td>
      <!-- <td><input type="text" class="form-control" value="{{item.month}}" readonly></td> -->
      <td>{{item.brokerCommission}}</td>
      <!-- <td><input type="text" class="form-control" placeholder="0" (input)="onPaidChange($event,item)" #paidAmount></td> -->
     <td>
  <input
    type="text"
    class="form-control"
    placeholder="0"
    [value]="item.brokerPaidAmount"
    (input)="onPaidChange($event, item)"
    #paidAmountInput
     [class.border-danger]="item.brokerPaidAmount == 0 && item.isChecked"
  />
</td> 
      <td>{{item.remainingAmount}}</td>
      
    
    
    </tr>
    }@empty {
                      <tr>
    <td class="empty-cell" colspan="8">
     <app-emptytable></app-emptytable>
    </td>
  </tr>
    }

    
  </tbody>

</table>   

 <table class="table2" *ngIf="getAllDataSearch?.rows.length > 0"> 
        <tbody>
            <tr>
   <td></td>
        <td><p>الاجمالي</p></td>
        <td></td>
        <td></td>
       
        <!-- اجمالي المبلغ -->
        <td>
         {{TotalBrokerCommission}}
        </td>

        <!-- اجمالي المدفوع -->
        <td>{{TotalPaidAmount}}</td>
        <td></td>
        <!-- <td>3000</td> -->
            </tr>
        </tbody>
    </table>


</div>


<!-- <div class="table-responsive table2">
   
</div> -->

  
</form>


  <div class="btn_add_reset mb-3">
 <button type="button" data-type="save" data-button="send" (click)="onSubmit()" [ngClass]="{'btnEdit':this.btnAddandUpdate=='update','btnAdd':this.btnAddandUpdate=='add'}">{{btnAddandUpdate == 'add'?'اضافه':'تعديل'}}</button>
 <button data-button="reset" (click)="resetForm()">جديد</button>
 <button data-button="reset" *ngIf="canShowBtns" (click)="deleteData()">حذف</button>
 <button data-button="reset" *ngIf="canShowBtns">طباعه </button>
  </div>

<app-confirm-delete [isVisible]="showDelete" (onDelete)="deleteConfirmed($event)" [itemId]="this.deleteId" (toggleModal)="onClose()"></app-confirm-delete>
