 <form class="forms_dashboard" [formGroup]="sendMessageForm" (ngSubmit)="onSubmit()">
            <div class="row">

                <div class="col-sm-12">
                    <p class="date_time " style="direction: ltr; text-align: left;">{{this.dateTimeObj.date}} <span class="mx-1"></span> {{this.dateTimeObj.time}} </p>
                </div>

                <div class="col-sm-12">
     <div class="d-flex justify-content-between align-items-center mb-3">
                    <label for="" class="form-label">المستاجرين</label>
                    <button type="button" class="choose_data" (click)="showPopupRealtor=!showPopupRealtor">بحث عن مستاجرين</button>
                </div>

                <div class="parent_textareaTenant">
                    <textarea    class="form-control data_tenant" style="resize: none;" readonly ></textarea>
                    <!-- <small class="error_msg_form" *ngIf="this..invalid">{{}}></small> -->
                     
                    <div class="boxes" style="height: 83px;
        background-color: transparent;
        overflow-y: scroll;">

                        @for (item of searchdataCheckRealtor; track $index) {
       <div class="box">
                            <p class="name_tenant">{{item.name}}</p>
                            <div class="delete" (click)="deleteTenant($index)"><svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.2969 11.0469L10.5469 17.7969C10.3163 18.0275 9.93375 18.0275 9.70313 17.7969C9.4725 17.5663 9.4725 17.1838 9.70312 16.9531L16.4531 10.2031C16.6837 9.9725 17.0662 9.9725 17.2969 10.2031C17.5275 10.4338 17.5275 10.8163 17.2969 11.0469Z" fill="#212121" stroke="#212121"/>
<path d="M17.2969 17.7969C17.0662 18.0275 16.6837 18.0275 16.4531 17.7969L9.70312 11.0469C9.4725 10.8162 9.4725 10.4337 9.70313 10.2031C9.93375 9.9725 10.3163 9.9725 10.5469 10.2031L17.2969 16.9531C17.5275 17.1837 17.5275 17.5662 17.2969 17.7969Z" fill="#212121" stroke="#212121"/>
</svg>
</div>
                        </div>
                       
                        }
                 
                    </div>
                </div>
               

                  <div class="d-flex align-items-center justify-content-between">
                     <small class="error_msg_form" *ngIf="this.searchdataCheckRealtor.length<=0">{{realtorMsgErrorMsg}}</small>
                     <p>    </p>
                    <p class="countMsg1">العدد : {{searchdataCheckRealtor.length}}</p>
                  
                    </div>

                <div class="d-flex justify-content-between align-items-center mb-3">

                    <button type="button" class="choose_data" (click)="openPopupMsg()"> إختيار نماذج الرساله</button>
                  
                   
                </div>
                </div>

            <div class="col-sm-12">
                <label for="msgText" class="form-label">نص الرساله</label>
                <textarea name="" id="" id="msgText"  formControlName="messageText" (input)="writeMessage($event)"  (focus)="requiredMsg()"  class="form-control" placeholder="اكتب المحتوي"></textarea>
                <div class="d-flex align-items-center justify-content-between">
                       <small class="error_msg_form" *ngIf="this.sendMessageForm.invalid">{{errorMsgWithMessage}}</small>
                       <p></p>
                       <p class="countMsg2 " style="width: 80%; margin-left: auto;" >  {{getMsgCount() }} / 48</p>
                 
                </div>
             
                 <!-- </ng-container> -->
            </div>


            <div class="col-sm-12">
                <label for="tarekasend">طريقه الارسال</label>

                <div class="d-flex align-items-center gap-3 my-2 tarekasend">
                    <div class="d-flex gap-2 ">
                        <input type="checkbox" checked id="sms" formControlName="useSms" class="form-check-input">
                        <label for="sms">SMS</label>
                    </div>
                    <div class="d-flex gap-2 ">
                        <input type="checkbox" id="whatapp" class="form-check-input" formControlName="useWhatsApp">
                        <label for="whatapp">واتساب</label>
                    </div>
                    <div class="d-flex gap-2 ">
                        <input type="checkbox" id="email" class="form-check-input" formControlName="useEmail">
                        <label for="email">البريد الالكتروني</label>
                    </div>

                </div>

                <small class="error_msg_form mt-3" >{{this.methodMsgSend}}</small>


                <div class="btn_add_reset">
                    <button type="submit" data-button="send">ارسال</button>
                </div>
            </div>
           

                
            </div>
        </form>

<app-searchmsg (arrDataCheck)="arrDataCheck($event)"  [(showPopup)]="showPopupRealtor"></app-searchmsg>


<app-title-msg-popup [(showPopup)]="showPopup" (msgDataDescription)="showMsg($event)"></app-title-msg-popup>





