@use '../../../../../public/styles/abstracts/vars' as *;
@use '../../../../../public/styles/abstracts/mixins' as *;
.date_time{
    text-align: end;
    color: $main_color;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px !important; 
}

.data_tenant{
    &.form-control{
    line-height: 0;
    min-height: 104px !important;
     height: auto !important; // يسمح له يتمدد
    background-color: #FBFBFB !important;     
    padding:20px 10px;
    margin-bottom: 10px !important;
    

    
    
    }   
   
}

#msgText{
    &.form-control{
        min-height: 124px !important;

        padding:20px 10px;

    }
}

.countMsg1{
    color: $main_color;
    font-weight: 700;
}

.countMsg2{
    color:$main_color;
    font-weight: 700;
    text-align: end;
    margin: 10px 0px !important;
}

.tarekasend{
    input{
        width: 16px !important;
    height: 16px !important;
    &:checked{
        background-color: #4C6D5F;
        border: 0 !important;
        box-shadow: none;
    }
    }
}

.parent_textareaTenant{
    position: relative;

    .boxes{
        position: absolute;
        right: 10px;
        top: 10px;
        @include flex_box(flex,null,flex-start,8px);
        flex-wrap: wrap;
        // height:90px;

      
        &::-webkit-scrollbar-track{
            background-color: #FBFBFB !important;
        }
        
        .box{
            @include flex_box(flex,null,center);
            // min-width:153px;
            // height: 32px;
            padding: 4px 8px;
            background-color: #E0ECE1;
            border-radius: 4px;


            .delete{
                cursor: pointer;
            }
        }
        
    }
}


.links_msg{
    @include flex_box(flex,null,center,40px);
    margin-bottom: 20px !important;
    li{
        a{
            color: #86AC88;
            font-weight: 700;
            font-size: 18px;
            position: relative;
            cursor: pointer;
            // position: relative;
          
            &.active{
                color: $main_color !important;
                // display: block;

                  &::after{
                content: '';
                position: absolute;
                left: 53%;
                transform: translateX(-50%);
                bottom: -10px;
                width: 80%;
                background-color: $main-color;

                height: 4px;
                border-radius: 4px;
                

            }
                
            }
        }
    }
}

.forms_dashboard{
        margin-top: 40px !important;
}