<app-page-heading [title]="'الموظفين'" [subtitle]="'صرف الرواتب'" [AddBtn]="true" [ExplorerRoute]="'/dashboard/salarydisbursement/explorerdisbursement'" [TitlePageAddBtn]="'مستكشف صرف الرواتب'"></app-page-heading>


<form class="forms_dashboard" [formGroup]="formExchange">
    <div class="row">
     <div class="col-sm-12 col-lg-2 mb-3">
        <label for="numberbala" class="form-label">رقم السند</label>
        <input type="text" name="" readonly  class="form-control" placeholder="رقم السند" id="numberbala" formControlName="voucherNo">
    </div>
  <div class="col-sm-12 col-lg-2 mb-3" style="margin-top: 7px;">
        <label  class="form-label" ></label>
        <div class="search_number_component">
<input type="text" name="" placeholder="بحث برقم السند" #searchVoucherNumberInp  class="form-control" (keyup.enter)="searchById(searchVoucherNumberInp)">

<div class="search" (click)="searchById(searchVoucherNumberInp)">
    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.7501 17.4998C6.37783 17.4998 2.83342 13.9554 2.83342 9.58317C2.83342 5.21092 6.37783 1.6665 10.7501 1.6665C15.1223 1.6665 18.6667 5.21092 18.6667 9.58317C18.6667 13.9554 15.1223 17.4998 10.7501 17.4998Z" stroke="#7F7F7F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.00008 18.3332L3.66675 16.6665" stroke="#7F7F7F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</div>
        </div>
        
    </div>

       <div class="col-sm-12 col-lg-3 mb-3">
        <label for="numberbala" class="form-label">رقم الدفتري</label>
        <input type="text" name=""  class="form-control number_notes" placeholder="رقم الوحده" id="numberbala" formControlName="bookNumber">
         <app-formerror-msg [control]="formExchange.controls['bookNumber']" [Messages]="{
                  required:'الرقم الدفتري مطلوب ' ,
                  minlength:'الرقم الدفتري يجب ان يكون اكثر من 3 حروف'
             
               }"></app-formerror-msg>

    </div>
       <div class="col-sm-12 col-lg-3 mb-3">
        <label for="numberbala" class="form-label">الشهر</label>
        <ng-select [items]="months" bindLabel="name" placeholder="اختر" bindValue="id" formControlName="month" [disabled]="employeesSalary.length  > 0" ></ng-select>
         <app-formerror-msg [control]="formExchange.controls['month']" [Messages]="{
                  required:'الشهر مطلوب' ,
             
               }"></app-formerror-msg>
    </div>
       <div class="col-sm-12 col-lg-2 mb-3">
        <label for="numberbala" class="form-label">التاريخ</label>
        <input type="datetime-local" name=""  class="form-control" placeholder="التاريخ" id="numberbala" formControlName="dateTime">
          <app-formerror-msg [control]="formExchange.controls['dateTime']" [Messages]="{
                  required:'التاريخ مطلوب' ,
             
               }"></app-formerror-msg>
    </div>

      <div class="col-sm-12">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">البيان</label>
                <textarea class="form-control textarea" id="exampleFormControlTextarea1" placeholder="اكتب المحتوي" formControlName="note"></textarea>
                  <app-formerror-msg [control]="formExchange.controls['note']" [Messages]="{
                  required:'البيان مطلوب' ,
             
               }"></app-formerror-msg>
            </div>
        </div>
    </div>


    </form>

  <div class="table-responsive" >
    <table>
      <thead> 
        <tr>
          <th>م</th>
          <th>اسم الموظف</th>
          <th>الراتب</th>
          <th>الصندوق</th>
          <th>قيمه الغياب</th>
          <th>تسديد سلفه</th>
          <th>جزاءات</th>
          <th>مكافاءات</th>
          <th>صافي الراتب</th>
          <th>العمليات</th>
        </tr>
      </thead>
   <tbody>
    <tr [formGroup]="FormLines">
          <th><p style="font-size: 14px; font-weight: 700; color: #a7a7A7;">م</p></th>
             <td>
            <ng-select

  [items]="getAllDateemployees"
  bindLabel="name"
  [appendTo]="'body'"
  bindValue="id"
  placeholder="اسم الموظف"
  class="ng_selectin_table"
  formControlName="employeeId"
  (change)="changeEmployees($event)"
  >
</ng-select>
          </td>

           <td><input type="text" class="form-control text-center salary" placeholder="0" readonly formControlName="salary"></td>
            <td>
                <ng-select appendTo="body" class="ng_selectin_table" [items]="getAllDataAccounts" bindLabel="name" placeholder="-----------" bindValue="financiallyAccountId" formControlName="creditAccountId" (change)="changeAccount($event)"></ng-select>
            </td>
          <td><input type="text" class="form-control text-center" placeholder="0"  formControlName="absenceDays"></td>
          <td><input type="text" class="form-control text-center" placeholder="0" formControlName="loanRepayment"></td>
          <td><input type="text" class="form-control text-center" placeholder="0" formControlName="penalties"></td>
           <td><input type="text" class="form-control text-center" placeholder="0"  formControlName="rewards"></td>
           <td><input type="text" class="form-control text-center" placeholder="0"  readonly formControlName="netPay"></td>

            <td>
                <div class="btn_add_reset " style="margin-top: 0 !important;">
 <button type="button" style="background-color: #D4AF37 !important;" data-button="send" (click)="addLine()"
         
            >اضافه</button>
                </div>
           
          </td>
    </tr>



    @for(item of employeesSalary; track $index){
        <tr>
            <td>{{$index + 1}}</td>
            <td>{{item.employeeName}}</td>
            <td>{{item.salary}}</td>
            <td>{{item.AccountName}}</td>
            <td>{{item.absenceDays}}</td>
            <td>{{item.loanRepayment}}</td>
            <td>{{item.penalties}}</td>
            <td>{{item.loanRepayment}}</td>
            <td>{{item.netPay}}</td>
            <td><button class="delete border-0" (click)="deleteItem($index)">
                <svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect y="0.5" width="33" height="25" rx="2" fill="#FFE5E5"/>
<path d="M23.5 5H20L19 4H14L13 5H9.5V7H23.5M10.5 20C10.5 20.5304 10.7107 21.0391 11.0858 21.4142C11.4609 21.7893 11.9696 22 12.5 22H20.5C21.0304 22 21.5391 21.7893 21.9142 21.4142C22.2893 21.0391 22.5 20.5304 22.5 20V8H10.5V20Z" fill="#FF3D00"/>
</svg>

            </button></td>
        </tr>
    }

      </tbody>
    </table>
   
  </div>

  <div class="btn_add_reset">
 <button type="button" data-button="send" (click)="onSubmit()" *ngIf="canShowAdd" [ngClass]="{'btnEdit':this.btnAddandUpdate=='update','btnAdd':this.btnAddandUpdate=='add'}">{{this.btnAddandUpdate == 'add' ? 'اضافه':"تعديل"}}</button>
 <!-- <button type="button" data-button="reset">تعديل</button> -->
 <button type="button" data-button="reset" (click)="deletePayrollVoucher()" *ngIf="showCanBtns">حذف</button>
 <button type="button" data-button="reset" *ngIf="showCanBtns">طباعه بالسند</button>
 <button  type="button" data-button="reset" (click)="showEmployeePopup = !showEmployeePopup" *ngIf="showCanBtns">طباعه بالموظف</button>
  </div>

<app-printemployee [showPopup]="showEmployeePopup"></app-printemployee>


<app-confirm-delete [isVisible]="showDelete" (onDelete)="deleteConfirmed($event)" [itemId]="this.deleteId" (toggleModal)="onClose()"></app-confirm-delete>