<form class="forms_dashboard" [formGroup]="profileData" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-12 mb-3">
            <label for="username" class="form-label">اسم المستخدم</label>
            <input type="text" name="" placeholder="اسم المستخدم" id="username" class="form-control"
                formControlName="fullName">
        </div>

        <div class="col-sm-12  mb-3">
            <label for="phoneNumber" class="form-label">رقم الجوال</label>
            <input type="text" dir="ltr" name="" placeholder="رقم الجوال" id="phoneNumber" class="form-control text-end" appNoStringPaste
                formControlName="phoneNumber">
        </div>

        <div class="col-sm-12  mb-3">
            <label for="group" class="form-label">المجموعه</label>
            <input type="group" name="" placeholder="المجموعه" style="background-color: #F7F7F7 !important;" id="group"
                class="form-control" formControlName="groupName" readonly>
        </div>

        <div class="btn_add_reset">
            <button type="sumbit" data-button="send">تعديل</button>
        </div>

    </div>
</form>