@use "../../../../../../public/styles/abstracts/vars" as *;
@use "../../../../../../public/styles/abstracts/mixins" as *;

#chart {
  max-width: 650px;
  margin: 35px auto;
}
.title-page {
  color: $main-color;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.income_total {
  transition: 0.6s;
  background-color: #eef5ef;
  padding: 20px;
  border-radius: $border-radius-lg;
  .right {
    h4 {
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    p {
      color: #7b7b7b;
      margin: 40px 0px;
      font-size: 16px;
      width: 348px;
      @media (max-width: 768px) {
        width: 100%;
        font-size: 14px;
      }
    }
    a {
      color: $main-color;
    }
  }
}

.rate {
  min-height: 400px;
  background-color: #eef5ef;
  padding: 40px 45px;
  border-radius: $border-radius-lg;
  margin: 50px 0px;

  @media (max-width: 768px) {
    min-height: 1320px !important;
  }

  .bar {
    width: 255px;
    @media (max-width: 768px) {
      width: 100%;
      // height: 0 !important;
    }

    h4 {
      margin-right: auto;
    }
    //       canvas{
    //             height: 250px;
    //     @media (max-width:768px) {
    //         margin: 30px auto;
    //         width: 75% !important;
    //         height: 100% !important;

    //     }
    // }
    h4 {
      @media (max-width: 768px) {
        width: 100%;
        font-size: 16px;
      }
    }
  }
}

h4 {
  color: $main-color;
  font-weight: $heading-weight;
  font-size: 18px;
  margin-bottom: 20px;
  span {
    display: block;
    margin-bottom: 10px;
  }
}

.mostager {
  background-color: white;
  padding: 10px;
  border-radius: $border-radius-sm;
  // margin: 0px 30px;
  @include responsive("meduim") {
    margin: 10px 0px !important;
  }

  border: 1px solid #bed2bf;
  h4 {
    margin-bottom: 30px;
  }
  .personal {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 20px;

    img {
      margin-left: 12px;
      width: 40px;
    }
    .content {
      h5 {
        font-size: 12px;
        color: $main-color;
        margin-bottom: 5px !important;
      }
      p {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color: #344054;
      }
    }
  }
}

.taslem {
  height: 128px;
  // background-color: #D7E7D8;

  .box {
    background-color: #d7e7d8;
    border-radius: 14px;
    min-height: 128px;
    padding: 15px;
    margin-bottom: 23px;
    @include flex_box(flex, space-between, flex-start);
    @include responsive("meduim") {
      margin: 10px 0px;
    }
    .head {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-weight: 700;
      color: $main-color;
      margin-bottom: 15px;

      h5 {
        margin-bottom: 0;
      }
    }
    p {
      // color: ;
      font-weight: 400;
      font-size: 12px;
      color: #86ac88;
      width: 106px;
    }
  }
}

.parent_cleander {
  label {
    width: 52px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #bed2bf;
    background-color: #ffffff;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    font-weight: 700;
    color: #16601a;
    cursor: pointer;
    margin: 8px;
  }

  input[type="radio"] {
    &:checked {
      + label {
        background-color: #16601a;
        color: #fff;
      }
    }
  }
  .calender_show {
    cursor: pointer;
    position: relative;

    input {
      position: absolute;
      top: 40px; // يظهر تحت الايقونة
      left: 0;
    }
  }
}

.statistics {
  .box {
    padding: 24px;
    border-radius: 8px;
    display: flex;
    // align-items: center;
    justify-content: space-between;

    h5 {
      font-size: 18px;
      font-weight: 700;
    }
    p {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 0;
      padding: 16px 0px;
    }

    a {
      font-size: 12px;
      font-weight: 600;
      color: #619363;
    }
  }
}

.calender_show {
  position: relative !important;
  display: inline-block; /* يخلي الإيقونة + input في نفس السياق */
  input {
    position: absolute;
    top: 40px; // يظهر تحت الايقونة
    left: 0;
  }
}
