
    <form class="forms_dashboard mb-3" appIntersection="fade-in" [formGroup]="systemSettings" >
        <div class="row align-items-center">

     

<div class="mb-3 col-sm-12 col-lg-6">
                 <label for="nameara" class="form-label">اسم الشركه بالعربي</label>
                 <input type="text" class="form-control" id="nameara"  formControlName="companyNameAr" placeholder="اسم الشركه بالعربي" >
                 <ng-container *ngIf="systemSettings.controls['companyNameAr'].invalid && systemSettings.controls['companyNameAr'].touched">
                  <small class="error_msg_form" *ngIf="systemSettings.controls['companyNameAr'].hasError('required')">اسم الشركه بالعربي مطلوب</small>
                  <small class="error_msg_form" *ngIf="systemSettings.controls['companyNameAr'].hasError('minlength')">اسم الشركه بالعربي يجب ان يحتوي علي 3 حروف علي الاقل</small>
                 </ng-container>
                  
        </div>
<div class="mb-3 col-sm-12 col-lg-6 ">
                 <label for="nameeng" class="form-label">اسم الشركه بالانجليزي</label>
                 <input type="text" class="form-control" id="nameeng" placeholder="اسم الشركه بالانجليزي" formControlName="companyNameEn" >
                     <ng-container *ngIf="systemSettings.controls['companyNameEn'].invalid && systemSettings.controls['companyNameEn'].touched">
                  <small class="error_msg_form" *ngIf="systemSettings.controls['companyNameEn'].hasError('required')">اسم الشركه بالانجليزي مطلوب</small>
 <small class="error_msg_form" *ngIf="systemSettings.controls['companyNameEn'].hasError('minlength')">اسم الشركه بالانجليزي يجب ان يحتوي علي 3 حروف علي الاقل</small>                  
                 </ng-container>
                 
        </div>
     
             <div class="mb-3 col-sm-12 col-lg-3">
                 <label for="numberdarebe" class="form-label">الرقم الضريبي</label>
                 <input type="text"  class="form-control" id="numberdarebe" placeholder="الرقم الضريبي " formControlName="taxNumber" >
            
                     <ng-container *ngIf="systemSettings.controls['taxNumber'].invalid && systemSettings.controls['taxNumber'].touched" >
                  <small class="error_msg_form" *ngIf="systemSettings.controls['taxNumber'].hasError('required')">الرقم الضريبي مطلوب</small>
                 </ng-container> 
            </div>
       

             <div class="mb-3 col-sm-12 col-lg-3">
                 <label for="segltogare" class="form-label">السجل التجاري </label>
                 <input type="text" class="form-control" id="segltogare" placeholder="السجل التجاري" formControlName="commercialRegister">
               <ng-container *ngIf="systemSettings.controls['commercialRegister'].invalid && systemSettings.controls['commercialRegister'].touched">

                <small class="error_msg_form" *ngIf="systemSettings.controls['commercialRegister'].hasError('required')">السجل التجاري مطلوب</small>
               </ng-container>

        </div> 

               <div class="mb-3 col-sm-12 col-lg-3">
                 <label for="email" class="form-label"> البريد الالكتروني</label>
                 <input type="text" appNoPaste class="form-control" id="email" placeholder="البريد الالكتروني " formControlName="email">
                <ng-container *ngIf="systemSettings.controls['email'].invalid && systemSettings.controls['email'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['email'].hasError('required')">البريد الالكتروني مطلوب</small>
                      <small class="error_msg_form" *ngIf="systemSettings.controls['email'].hasError('email')">البريد الالكتروني غير صحيح</small>
                     
               </ng-container>
                  
        </div>
               <div class="mb-3 col-sm-12 col-lg-3">
                 <label for="website" class="form-label"> الموقع الالكتروني</label>
                 <input type="text" class="form-control" id="website" formControlName="website" placeholder="الموقع الالكتروني " >
                 <ng-container *ngIf="systemSettings.controls['website'].invalid && systemSettings.controls['website'].touched">

                <small class="error_msg_form" *ngIf="systemSettings.controls['website'].hasError('required')">الموقع الالكتروني مطلوب</small>
               </ng-container>
        </div>

        </div>
      </form>

      <form class="forms_dashboard mb-3" [formGroup]="systemSettings">

        <div class="row">
        <div class="mb-3 col-sm-12 col-lg-4">
                 <label for="phonenumber" class="form-label">رقم الهاتف</label>
                 <input type="text" appNoStringPaste class="form-control" id="phonenumber" placeholder="رقم الهاتف" formControlName="phone">

                     <ng-container *ngIf="systemSettings.controls['phone'].invalid && systemSettings.controls['phone'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['phone'].hasError('required')">رقم الهاتف مطلوب</small>
                 </ng-container>
        </div>
        <div class="mb-3 col-sm-12 col-lg-4">
                 <label for="fax" class="form-label">رقم الفاكس</label>
                 <input type="text" appNoStringPaste class="form-control" id="fax" placeholder="رقم الفاكس" formControlName="fax" >

                    <ng-container *ngIf="systemSettings.controls['fax'].invalid && systemSettings.controls['fax'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['fax'].hasError('required')">رقم الفاكس مطلوب</small>
                 </ng-container> 
        </div>

                <div class="mb-3 col-sm-12 col-lg-4">
                 <label for="phonenumber" class="form-label">رقم الجوال</label>
                 <!-- <input type="text" appNoStringPaste class="form-control" id="phonenumber" placeholder="رقم الهاتف" formControlName="mobile" >
                  <ng-container *ngIf="systemSettings.controls['mobile'].invalid && systemSettings.controls['mobile'].touched">

                <small class="error_msg_form" *ngIf="systemSettings.controls['mobile'].hasError('required')">رقم الجوال مطلوب</small>
               </ng-container> -->
               <ngx-intl-tel-input [cssClass]="'form-control'" [onlyCountries]="['sa', 'eg']"
                    [selectedCountryISO]="selectedCountry" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                    [selectFirstCountry]="false" [separateDialCode]="true" [maxLength]="14" formControlName="mobile">
                </ngx-intl-tel-input>
                <ng-container
                    *ngIf="systemSettings.controls['mobile'].invalid && systemSettings.controls['mobile'].touched">
                    <small class="error_msg_form" *ngIf="systemSettings.controls['mobile'].hasError('required')">
                        رقم الجوال مطلوب
                    </small>

                    <small class="error_msg_form" *ngIf="systemSettings.controls['mobile'].hasError('invalidPhone')">
                        {{ systemSettings.controls['mobile'].getError('invalidPhone') }}
                    </small>
                </ng-container>
        </div>

        
</div>
      </form>
 
      <form class="forms_dashboard mb-3" [formGroup]="systemSettings">

        <div class="row">
   
   
                <div class="mb-3 col-sm-12 col-lg-3">
                 <label for="address" class="form-label">المنطقه</label>
                 <ng-select [items]="getDataRegions" bindLabel="name_ar" bindValue="name_ar" (change)="onRegionChange($event)" [virtualScroll]="true" placeholder="المنطقه" formControlName="region"></ng-select>
                
                     <ng-container appNoPaste *ngIf="systemSettings.controls['region'].invalid && systemSettings.controls['region'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['region'].hasError('required')">المنطقه مطلوبه</small>
                 </ng-container>

               
        </div> 

            <div class="mb-3 col-sm-12 col-lg-3">
                 <label for="city" class="form-label">المدينه</label>
               
                  <ng-select [items]="getDataCities" bindLabel="name_ar" bindValue="name_ar" (change)="onCityChange($event)" [virtualScroll]="true" placeholder="المدينه" formControlName="city"></ng-select>
                      <ng-container appNoPaste *ngIf="systemSettings.controls['city'].invalid && systemSettings.controls['city'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['city'].hasError('required')">المدينه مطلوبه</small>
                 </ng-container>

        </div> 


          <div class="mb-3 col-sm-12 col-lg-3">
                 <label for="hay" class="form-label">الحي</label>
                 <ng-select [items]="getDataDistricts" bindLabel="name_ar" bindValue="name_ar" placeholder="الحي" formControlName="district"></ng-select>
                   <ng-container appNoPaste *ngIf="systemSettings.controls['district'].invalid && systemSettings.controls['district'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['district'].hasError('required')">الحي مطلوب</small>
                 </ng-container>

        </div> 

                <div class="mb-3 col-sm-12 col-lg-3">
                 <label for="street" class="form-label">الشارع</label>
                 
                 <input type="text" class="form-control" id="street" placeholder="الشارع" formControlName="street">
                   <ng-container appNoPaste *ngIf="systemSettings.controls['street'].invalid && systemSettings.controls['street'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['street'].hasError('required')">الشارع مطلوب</small>
                 </ng-container>

        </div> 
              
            
                <div class="mb-3 col-sm-12 col-lg-6">
                 <label for="codebared" class="form-label">الرمز البريدي</label>
                 <input type="text"  class="form-control" id="codebared" placeholder="الرمز البريدي" formControlName="postalCode">
                     <ng-container appNoPaste *ngIf="systemSettings.controls['postalCode'].invalid && systemSettings.controls['postalCode'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['postalCode'].hasError('required')"> الرمز البريدي مطلوب</small>
                 </ng-container>

        </div> 



                     <div class="mb-3 col-sm-12 col-lg-6">
                 <label for="fax" class="form-label">رقم المبني</label>
                 <input type="text" appNoStringPaste class="form-control" id="fax" placeholder="رقم المبني" formControlName="buildingNumber" >
                   <ng-container appNoPaste *ngIf="systemSettings.controls['buildingNumber'].invalid && systemSettings.controls['buildingNumber'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['buildingNumber'].hasError('required')">رقم المبني مطلوب</small>
                 </ng-container>

                 

        </div>

<!--         
        <div class="mb-3 col-sm-12 col-lg-6">
                 <label for="hesap" class="form-label">الحساب البنكي</label>
                 <input type="text" class="form-control" id="hesap" placeholder="الحساب البنكي" formControlName="bankAccount">
                   <ng-container appNoPaste *ngIf="companyForm.controls['bankAccount'].invalid && companyForm.controls['bankAccount'].touched">
                      <small *ngIf="companyForm.controls['bankAccount'].hasError('required')">    الحساب البنكي مطلوب</small>

                 </ng-container>

        </div>  -->

</div>
</form>
        <form class="forms_dashboard" [formGroup]="systemSettings">
          <div class="row">

        <div class="mb-3 col-sm-12 col-lg-6">
                 <label for="nespaDareba" class="form-label">نسبه الضريبه</label>
                 <div class="nesba_dareba">
                  
                      
                     <ng-select [items]="nespaDarepa" bindLabel="name" bindValue="value" placeholder="نسبه الضريبه" formControlName="taxRate"></ng-select>
                       <ng-container appNoPaste *ngIf="systemSettings.controls['taxRate'].invalid && systemSettings.controls['taxRate'].touched">
                      <small class="error_msg_form" *ngIf="systemSettings.controls['taxRate'].hasError('required')">نسبه الضريبه مطلوبه</small>
                 </ng-container>       
                    </div>
              

        </div> 

        
       
            <!-- </div> -->
 







  <div class="mt-3 col-sm-12 col-lg-6">

   <div class="col-sm-12 col-lg-6">
                <label for=""></label>
                <div class="parent_checkbox d-flex align-items-center gap-2 align-self-end">
                        <input type="checkbox" name="" checked class="checkedBox_shared" id="statususer" readonly formControlName="isTaxEnabled">
                        <label for="statususer">تفعيل الضريبه</label>
                </div>
              
            

        </div>
                
        </div>

       


           
</div>
      
            
          
         
        
    </form>

      <div class="btn_add_reset mb-3" (click)="onSubmit()">
                <button type="submit" class="ms-0" data-button="send" [ngClass]="{'btnEdit':this.btnAddandUpdate=='update','btnAdd':this.btnAddandUpdate=='add'}">{{this.btnAddandUpdate =='add' ? 'اضافه':"تعديل"}}</button>
                
            </div>