.table-responsive{
        min-height: 40px;
        max-height: 355px;
}

.forms_dashboard{
    min-height: 90px;
    background-color: transparent;
    padding: 0;
    .form-control{
        background-color: #F5F5F5 !important;
    }

    .search_btn{
        width: 90px;
        height: 32px;
        background-color: #16601A;
        border: 0;
        border-radius: 4px;
        color: #fff;
    }
}


.inp_credit,.inp_depit{

    width: 50%;
    height: 32px;
    border: 0;
    border-radius: 4px;
    // background-color: #F5F5F5;
    border: 0 !important;
    outline: 0 !important;
    text-align: center;
}

.edit_btn{
    width: 76px;
    height: 32px;
    border: 0;
    border-radius: 4px;
        background: #f7bc0a;
        color: #000;
        font-size: 14px;
        font-weight: 700;
}
