.forms_dashboard{
    min-height: 89px;
}

.container_months{
    max-width: 200px !important;
    height: 100%;
    overflow-x:scroll ;

    &::-webkit-scrollbar{
        width: 2px !important;
        height: 1px !important;
       
        
    }

    .box{
          width: 54px !important;
    padding: 0px 5px;
        line-height: 1.3;

    &.active{
        background-color: #16601A !important;
        color: #fff !important;
    }

    &.paidZero{
        color: red !important;
        // background-col;
    }
    }
}