
            <div class="forms_dashboard send_single" >
           <ul ngbNav #nav="ngbNav" [(activeId)]="active2" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>ارسال SMS</button>
		<ng-template ngbNavContent>
            <app-sendsms></app-sendsms>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>ارسال واتساب</button>
		<ng-template ngbNavContent>
			<app-sendwhatapp></app-sendwhatapp>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink>ارسال بالبريدالالكتروني</button>
		<ng-template ngbNavContent>
		<app-sendemail></app-sendemail>
		</ng-template>
	</li>
</ul>








<div [ngbNavOutlet]="nav" class="mt-2"></div>


            </div>

            <app-title-msg-popup [(showPopup)]="showPopup" (msgDataDescription)="showMsg($event)"></app-title-msg-popup>