<app-page-heading [title]="'الرسايل'" [subtitle]="'ارسال رساله'" [AddBtn]="true"  [ExplorerRoute]="'/dashboard/sendmessage/explorersendmessage'"
[TitlePageAddBtn]="'مستكشف الرسايل'"
></app-page-heading>


<ul class="links_msg">
    <li><a (click)="sendGroup()" [ngClass]="{'active':this.activelink == 'group'}">ارسال لمجموعه</a></li>
    <li><a (click)="sendSinglar()" [class.active]="this.activelink == 'singlar'">ارسال فردي</a></li>
</ul>




<ng-template #group>
   <app-sendpluralmessage></app-sendpluralmessage>
</ng-template>

<ng-template #singlar>
   <app-sendsingularmessage></app-sendsingularmessage>
</ng-template>



<ng-container #container></ng-container>