<app-page-heading [title]="'المستخدمين'" [subtitle]="'ربط المجموعه بالصلاحيات'"></app-page-heading>
<form action="" class="forms_dashboard" [formGroup]="FormPermissionGroup" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-6">
            <label for="page" class="form-label">المجموعه</label>
            <ng-select [items]="getDataGroup" [bindLabel]="'groupName'" placeholder="اسم المجموعه" [bindValue]="'id'"
                formControlName="groupId"></ng-select>
            <ng-container
                *ngIf="FormPermissionGroup.controls['groupId'].invalid && FormPermissionGroup.controls['groupId'].touched">
                <small class="error_msg_form" *ngIf="FormPermissionGroup.controls['groupId'].hasError('required')">اسم
                    المجموعه مطلوب</small>
            </ng-container>
        </div>
    </div>
    <div>
        <div formArrayName="items">
            <div class="row my-4" *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                <div class="col-sm-6 mb-3">
                    <label for="pages" class="form-label">الصفحات</label>
                    <ng-select [items]="getAllPages" [bindLabel]="'pageName'" placeholder="اسم الصفحه"
                        (change)="changePages($event , i)" [bindValue]="'id'" formControlName="pages"></ng-select>
                    <!-- <ng-container *ngIf="FormPermissionGroup.controls['items'].controls[i].invalid && FormPermissionGroup.controls['items'].controls[i].touched">
                <small class="error_msg_form" *ngIf="FormPermissionGroup.controls['items'].controls[i].hasError('required')" >اسم الصفحه مطلوب</small>
            </ng-container> -->
                    <ng-container *ngIf="item.get('pages')?.invalid && item.get('pages')?.touched">
                        <small class="error_msg_form" *ngIf="item.get('pages')?.hasError('required')">اسم الصفحه
                            مطلوب</small>
                    </ng-container>
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="permission" class="form-label">الصلاحيه</label>
                    <div class="w-100 d-flex">
                        <ng-select [items]="getDataPermissions" #pageActions [bindLabel]="'actionName'" [multiple]="true"
                            style="width: 85%;" placeholder="اسم الصفحه" [bindValue]="'actionId'"
                            formControlName="pageActionsId"></ng-select>

                        <!-- <ng-container *ngIf="FormPermissionGroup.controls['items'].controls[i].invalid && FormPermissionGroup.controls['items'].controls[i].touched">
                <small class="error_msg_form" *ngIf="FormPermissionGroup.controls['items'].controls[i].hasError('required')" >اسم الصلاحيه مطلوب</small>
            </ng-container> -->

                        <!-- check if its last item in form array -->
                        @if ( i === items.length - 1) {
                        <button type="button" (click)="addPageAndPermission()" style="
       width: 10%; margin-right: 10px; border: 0; border-radius: 8px; background-color: #88BD9A; color: #fff;">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        }
                    </div>
                    <ng-container *ngIf="item.get('pageActionsId')?.invalid && item.get('pageActionsId')?.touched">
                        <small class="error_msg_form" *ngIf="item.get('pageActionsId')?.hasError('required')">اسم
                            الصلاحيه مطلوب</small>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="btn_add_reset">
        <button type="sumbit" data-button="send"
            [ngClass]="{'btnEdit':this.btnaddAndUpdate=='update','btnAdd':this.btnaddAndUpdate=='add'}">{{btnaddAndUpdate
            == 'add' ? 'اضافه' : 'تعديل'}}</button>
        <button type="reset" data-button="reset">جديد</button>
    </div>
</form>