<app-page-heading [title]="title" [subtitle]="subtitle" appScrollAnimation="fade-in"></app-page-heading>
<form action="" class="forms_dashboard" [formGroup]="ownerData" (ngSubmit)="onSubmit()" appScrollAnimation="fade-in">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <label for="nameOwner" class="form-label">الاسم</label>
                <input type="text" class="form-control" maxlength="40" id="nameOwner" placeholder="الاسم"
                    formControlName="Name">
                <ng-container *ngIf="ownerData.controls['Name'].invalid && ownerData.controls['Name'].touched">
                    <small class="error_msg_form" *ngIf="ownerData.controls['Name'].hasError('required')">الاسم
                        مطلوب</small>
                    <small class="error_msg_form" *ngIf="ownerData.controls['Name'].hasError('minlength')">يجب ان يكون
                        الاسم اكثر من 3 حروف</small>
                    <small class="error_msg_form"
                        *ngIf="ownerData.controls['Name'].hasError('invalidUsername')">{{ownerData.get('Name')?.errors?.['invalidUsername']}}</small>
                    <small class="error_msg_form"
                        *ngIf="ownerData.controls['Name'].hasError('invalidStart')">{{ownerData.get('Name')?.errors?.['invalidStart']}}</small>
                </ng-container>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <label for="accountParent" class="form-label">حساب الاب</label>
                <ng-select [items]="accountParent" bindLabel="name" bindValue="id" [virtualScroll]="true"
                    placeholder="اسم الحساب" formControlName="parentId"></ng-select>
                <ng-container *ngIf="ownerData.controls['parentId'].invalid && ownerData.controls['parentId'].touched">
                    <small class="error_msg_form" *ngIf="ownerData.controls['parentId'].hasError('required')">حساب الاب
                        مطلوب</small>
                </ng-container>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <label for="phoneOwner" class="form-label d-block">رقم الجوال</label>
                <ngx-intl-tel-input [cssClass]="'form-control'" [onlyCountries]="['sa', 'eg']"
                    [selectedCountryISO]="selectedCountry" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                    [selectFirstCountry]="false" [separateDialCode]="true" [maxLength]="14" formControlName="Mobile">
                </ngx-intl-tel-input>
                <ng-container *ngIf="ownerData.controls['Mobile'].invalid && ownerData.controls['Mobile'].touched">
                    <small class="error_msg_form" *ngIf="ownerData.controls['Mobile'].hasError('required')">
                        رقم الجوال مطلوب
                    </small>

                    <small class="error_msg_form" *ngIf="ownerData.controls['Mobile'].hasError('invalidPhone')">
                        {{ ownerData.controls['Mobile'].getError('invalidPhone') }}
                    </small>
                </ng-container>
                <!-- <input type="text" appNoStringPaste class="form-control" maxlength="14" id="phoneOwner" placeholder="رقم الجوال" formControlName="Mobile"> -->
                <!-- <ng-container *ngIf="ownerData.controls['Mobile'].invalid && ownerData.controls['Mobile'].touched">
                    <small class="error_msg_form" *ngIf="ownerData.controls['Mobile'].hasError('required')">رقم الجوال
                        مطلوب</small>
                    <small class="error_msg_form" *ngIf="ownerData.controls['Mobile'].hasError('saudiPhoneInvalid')">
                        {{ ownerData.controls['Mobile'].getError('saudiPhoneInvalid') }}
                    </small>
                </ng-container> -->
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <label for="emailOwner" class="form-label">البريد الالكتروني</label>
                <input type="email" class="form-control" id="emailOwner" placeholder="البريد الالكتروني"
                    formControlName="Email">
                <ng-container *ngIf="ownerData.controls['Email'].invalid && ownerData.controls['Email'].touched">
                    <small class="error_msg_form" *ngIf="ownerData.controls['Email'].hasError('required')">البريد
                        الالكتروني مطلوب</small>
                    <small class="error_msg_form" *ngIf="ownerData.controls['Email'].hasError('inValidEmail')"> {{
                        ownerData.get('Email')?.errors?.['inValidEmail'] }}</small>
                </ng-container>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <label for="idNational" class="form-label">رقم الهويه</label>
                <input type="text" class="form-control" appNoStringPaste id="idNational" maxlength="14"
                    placeholder="رقم الهويه" formControlName="NationalID">
                <ng-container
                    *ngIf="ownerData.controls['NationalID'].invalid && ownerData.controls['NationalID'].touched">
                    <small class="error_msg_form" *ngIf="ownerData.controls['NationalID'].hasError('required')">رقم
                        الهويه مطلوب</small>
                    <small class="error_msg_form" *ngIf="ownerData.controls['NationalID'].hasError('minlength')">
                        يجب ان يكون رقم الهويه 10 ارقام
                    </small>
                </ng-container>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <app-input-attachments (sendDataFiles)="OnDataFiles($event)" [nameFiles]="dataFiles"
                (idRemoveFiles)="fnIdRemoveFiles($event)"></app-input-attachments>
        </div>
    </div>
    <div class="btn_add_reset">
        <button type="submit" data-button="send"
            [ngClass]="{'btnEdit':this.btnAddAndUpdate=='update','btnAdd':this.btnAddAndUpdate=='add'}">{{btnAddAndUpdate
            == 'add' ? 'اضافه':"تعديل"}}</button>
        <button type="reset" (click)="resetData()" data-button="reset">جديد</button>
    </div>
</form>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>م</th>
                <th>اسم المالك</th>
                <th>رقم الجوال</th>
                <th>رقم الهويه</th>
                <th>الادوات</th>
            </tr>
        </thead>
        <tbody>
            @for (item of getAllData.rows; track $index) {
            <tr>
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td><span dir="ltr">{{item.mobile}}</span></td>
                <td>{{item.nationalID}}</td>
                <td>
                    <div class="btn_edit">
                        <button type="button" data-button="edit" (click)="getDataUpdate(item.id)"><svg width="33"
                                height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="0.5" width="33.0001" height="25.0001" rx="2" fill="#E0ECE1" />
                                <path
                                    d="M11 8.5H10C9.46957 8.5 8.96086 8.71071 8.58579 9.08579C8.21071 9.46086 8 9.96957 8 10.5V19.5C8 20.0304 8.21071 20.5391 8.58579 20.9142C8.96086 21.2893 9.46957 21.5 10 21.5H19C19.5304 21.5 20.0391 21.2893 20.4142 20.9142C20.7893 20.5391 21 20.0304 21 19.5V18.5"
                                    stroke="#16601A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M20 6.50011L23 9.50011M24.385 8.08511C24.7788 7.69126 25.0001 7.15709 25.0001 6.60011C25.0001 6.04312 24.7788 5.50895 24.385 5.11511C23.9912 4.72126 23.457 4.5 22.9 4.5C22.343 4.5 21.8088 4.72126 21.415 5.11511L13 13.5001V16.5001H16L24.385 8.08511Z"
                                    stroke="#16601A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <button type="button" data-button="delete" (click)="showDeletePopup(item.id)"><svg width="33"
                                height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="0.5" width="33" height="25" rx="2" fill="#FFE5E5" />
                                <path
                                    d="M23.5 5H20L19 4H14L13 5H9.5V7H23.5M10.5 20C10.5 20.5304 10.7107 21.0391 11.0858 21.4142C11.4609 21.7893 11.9696 22 12.5 22H20.5C21.0304 22 21.5391 21.7893 21.9142 21.4142C22.2893 21.0391 22.5 20.5304 22.5 20V8H10.5V20Z"
                                    fill="#FF3D00" />
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            }@empty {
            <tr>
                <td class="empty-cell" colspan="5">
                    <app-emptytable></app-emptytable>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<app-pagination *ngIf="getAllData.rows.length > 0" [totalPages]="getAllData.paginationInfo?.totalPagesCount"
    [currentPage]="pageIndex" (pageChange)="onPageChanged($event)">
</app-pagination>
<app-confirm-delete [isVisible]="showDelete" (onDelete)="deleteConfirmed($event)" [itemId]="this.deleteId"
    (toggleModal)="onClose()"></app-confirm-delete>