@use '../../../../../public/styles/abstracts/vars' as *;
@use '../../../../../public/styles/abstracts/mixins' as *;

.search_forms_container{
    .search_container{
        position: relative;

         input{
                height: 38px !important;
                background-color: $color_hover_white !important; 
            
            }
        .icons_search{
            position: absolute;
            left:10px;
            top: 50%;
            transform: translateY(-50%);
            @include flex_box(flex,center,center,10px);
            z-index: 200;


            .filter_data{
                position: relative;
                cursor: pointer;
.data_filters{
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background-color: white;
    min-width: 20px;
    min-height:20px;
    border: 1px solid $border-color;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;

    &.active{
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }


    a{
        width: 120px;
        padding: 8px;
        font-size: 12px;
        color: $main_color;
        &:not(:last-of-type){
            margin-bottom: 5px;
        }
        &.active{
            background-color: $main_color;
            color: $white_color;
        }
    }

            }
            }
            
           
        }
    }
}


.auto_complete_container{
    width: 100%;
    min-height: 10px;
    max-height: 200px;
    background-color: #fff;
    box-shadow: 0 0 6px #00000040;
    color: black;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2000;
    margin-top: 10px;
    padding: 10px;
    border-radius:0px 0px 4px 4px !important;
    transform: translateY(-15px);
    opacity: 0;
    visibility: hidden;
    overflow: scroll;

    &.active{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    ul{
        padding: 0 !important;
        margin: 0 !important;
        
        &:first-child{
            li{
                &:not(:last-child){
                       margin-bottom: 10px;
                }
            }
        }
        li{
            font-size: 14px;
            color: $main_color;
            font-weight: 800;
            padding: 8px;
            transition: 0.3s;
            
            cursor: pointer;
            &:last-child{
                border-radius: 0px 0px 4px 4px !important;
            }      

            &:hover{
                background-color: $main_color;
                color: $white_color;
            }
           

        }
    }

}